


.smart-select{
    position:relative;
    width:100%;
}


.dropdown-list{

    position:absolute;

    top:100%;

    left:0;

    width:100%;

    background:white;

    border-radius:12px;

    box-shadow:0 8px 20px rgba(0,0,0,0.15);

    max-height:250px;

    overflow-y:auto;

    z-index:9999;

    display:block;

}




.dropdown-item{

    padding:14px 16px;

    font-size:16px;

    cursor:pointer;

    border-bottom:1px solid #eee;

    background:white;

}



.dropdown-item:hover{

    background:#e8f5ee;

}




.dropdown-list:empty{

    display:none;

}
