/* ===== DASHBOARD CSS PART 4 START ===== */


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;

}



body{

background:#f4f7f5;

}



/* Sidebar */


#sidebar{

position:fixed;

top:0;

left:-280px;

width:280px;

height:100vh;

background:#076b3a;

color:white;

padding:25px;

transition:.3s;

z-index:1000;

box-shadow:5px 0 25px rgba(0,0,0,.3);

}


#sidebar.active{

left:0;

}



.logo{

font-size:26px;

font-weight:bold;

margin-bottom:35px;

}



#sidebar a{

display:block;

color:white;

text-decoration:none;

font-size:18px;

padding:14px;

margin:8px 0;

border-radius:10px;

}



#sidebar a:hover{

background:rgba(255,255,255,.15);

}





/* Overlay */


#overlay{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.45);

display:none;

z-index:500;

}



#overlay.active{

display:block;

}





/* Header */


.header{

height:70px;

background:#076b3a;

color:white;

display:flex;

align-items:center;

padding:0 20px;

box-shadow:0 5px 15px rgba(0,0,0,.2);

}



#menuBtn{

background:none;

border:none;

color:white;

font-size:32px;

cursor:pointer;

}



.header h2{

margin-left:20px;

}



.profile{

margin-left:auto;

background:white;

color:#076b3a;

padding:8px 15px;

border-radius:20px;

}





/* Container */


.container{

padding:20px;

}





/* Welcome */


.welcome{

background:white;

padding:20px;

border-radius:20px;

box-shadow:0 8px 25px rgba(0,0,0,.12);

margin-bottom:20px;

}



.welcome h1{

color:#076b3a;

font-size:28px;

}





/* Cards */


.cards{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:18px;

}



.card{

background:white;

padding:20px;

border-radius:20px;

box-shadow:0 8px 25px rgba(0,0,0,.12);

transition:.3s;

}



.card:hover{

transform:translateY(-6px);

}



.card h3{

color:#555;

font-size:18px;

}



.card h1{

color:#076b3a;

font-size:35px;

margin-top:10px;

}





/* Charts */


.charts{

margin-top:20px;

}



.chart-card{

background:white;

padding:20px;

border-radius:20px;

box-shadow:0 8px 25px rgba(0,0,0,.12);

margin-bottom:20px;

}



.chart-card h2{

margin-bottom:10px;

font-size:22px;

}



canvas{

max-height:220px!important;

}





/* Mobile */


@media(max-width:600px){


.cards{

grid-template-columns:1fr;

}



.container{

padding:12px;

}



.card h1{

font-size:30px;

}



.chart-card{

padding:12px;

}



canvas{

max-height:160px!important;

}



}


/* ===== DASHBOARD CSS PART 4 END ===== */
