/* ==========================================
Darul Quran Ahmadia Madrasah
Money Receipt CSS FINAL
========================================== */


*{

box-sizing:border-box;

}



body{


margin:0;

padding:20px;

background:#f2f2f2;

font-family:

"Arial",
"SolaimanLipi",
sans-serif;


}





.print-area{


display:flex;

justify-content:center;

}





.receipt-box{


width:80mm;

background:white;

padding:15px;

border:2px solid #16733c;

border-radius:10px;

}





/* Header */


.receipt-header{


display:flex;

align-items:center;

justify-content:center;

gap:8px;

text-align:center;

}



.logo{


font-size:35px;

}



.madrasah-name h1{


font-size:16px;

margin:0;

color:#086b38;

}



.madrasah-name h2{


font-size:18px;

margin:8px 0;

color:#b58900;

}



.madrasah-name p{


font-size:10px;

margin:0;

}




hr{


border:none;

border-top:2px solid #16733c;

margin:10px 0;


}








/* Receipt Top */


.receipt-top{


display:flex;

justify-content:space-between;

font-size:11px;

margin-bottom:10px;


}








/* Section */


.box-section{


margin-top:10px;

border:1px solid #ddd;

border-radius:6px;

overflow:hidden;


}



.box-section h3{


margin:0;

padding:6px;

background:#08753b;

color:white;

font-size:12px;


}





table{


width:100%;

border-collapse:collapse;

font-size:11px;


}



td{


border-bottom:1px solid #ddd;

padding:6px;


}



td:first-child{


font-weight:bold;

width:45%;


}




.amount{


font-size:15px;

font-weight:bold;

color:#08753b;


}






/* Barcode */


.barcode-section{


text-align:center;

margin-top:15px;


}



.barcode-section h3{


font-size:12px;

color:#08753b;


}



#barcode img{


max-width:220px;

height:auto;


}








/* Signature */


.signature-area{


display:flex;

justify-content:space-between;

text-align:center;

font-size:10px;

margin-top:25px;


}








.footer-text{


text-align:center;

font-size:10px;

color:#08753b;

margin-top:15px;


}



button{


width:100%;

margin-top:15px;

padding:10px;

border:none;

background:#08753b;

color:white;

border-radius:5px;

font-size:14px;


}





/* Mobile */


@media(max-width:500px){


body{

padding:10px;

}


.receipt-box{

width:95%;

}



}








/* Print Fix */


@media print{


body{


background:white;

padding:0;


}



.receipt-box{


width:80mm;

border:1px solid #000;

}



button{


display:none;


}



}
