ত/* Dashboard Layout */

.layout{
    display:flex;
    min-height:100vh;
}


/* Sidebar */

.sidebar{
    width:250px;
    background:#1b5e20;
    color:white;
    padding:20px;
}


.sidebar h2{
    text-align:center;
}


.sidebar ul{
    list-style:none;
    padding:0;
}


.sidebar li{
    padding:14px;
    margin:8px 0;
    border-radius:8px;
}


.sidebar li:hover{
    background:#43a047;
}


/* Main Content */

.main{
    flex:1;
    padding:30px;
    background:#f5f5f5;
}


/* Header */

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    padding:20px;
    border-radius:12px;
}


/* Cards */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    margin-top:25px;
}


.card{
    background:white;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}


.card h2{
    color:#1b5e20;
}


/* Activity */

.activity{
    background:white;
    margin-top:30px;
    padding:25px;
    border-radius:15px;
}


.activity li{
    padding:10px;
}/* Dashboard Charts */

.charts{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:20px;
    margin-top:30px;
}


.chart-box{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}


.chart-box h2{
    text-align:center;
    color:#1b5e20;
}


canvas{
    max-width:100%;
}/* Dashboard Header */

.dashboard-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    padding:20px 25px;
    border-radius:15px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}


.dashboard-header h1{
    margin:0;
    color:#1b5e20;
}


.dashboard-header p{
    margin-top:8px;
    color:#666;
}


.admin-profile{
    display:flex;
    align-items:center;
    gap:12px;
    background:#f1f8e9;
    padding:12px 18px;
    border-radius:12px;
}


.avatar{
    width:45px;
    height:45px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#1b5e20;
    color:white;
    border-radius:50%;
    font-size:22px;
}


.admin-profile span{
    font-size:13px;
    color:#777;
}

