<!-- ==========================================
     ISM - Islamic School Management
     Master Platform Header
========================================== -->


<header class="erp-header">


    <!-- ======================================
         Left Side
    ======================================= -->

    <div class="header-left">


        <button
            id="menuToggle"
            type="button"
            aria-label="Open Menu">

            ☰

        </button>



        <div class="platform-brand">


            <img
                id="platformLogo"
                src=""
                alt="ISM"
                class="platform-logo">



            <div class="brand-text">


                <h3 id="platformName">
                    ISM
                </h3>


                <small id="platformTagline">
                    Islamic School Management
                </small>


            </div>


        </div>


    </div>





    <!-- ======================================
         Right Side
    ======================================= -->

    <div class="header-right">


        <!-- Language -->

        <select
            id="languageSelector"
            aria-label="Language">


            <option value="bn">
                বাংলা
            </option>


            <option value="en">
                English
            </option>


            <option value="ar">
                العربية
            </option>


        </select>





        <!-- Institution -->

        <div class="institution-display">


            <small>
                Institution
            </small>


            <strong id="institutionName">
                -
            </strong>


        </div>





        <!-- Notification -->

        <button
            type="button"
            class="notification-btn"
            aria-label="Notifications">

            🔔

        </button>





        <!-- User -->

        <div class="profile">


            <span id="userName">
                Admin
            </span>


            <small id="userRole">
                Administrator
            </small>


        </div>





        <!-- Logout -->

        <button
            type="button"
            id="logoutBtn"
            class="logout-btn">

            🚪 Logout

        </button>


    </div>


</header>





<script>

/* ==========================================
   ISM Dynamic Header
========================================== */

(function () {

    "use strict";


    // ======================================
    // Platform Configuration
    // ======================================

    if (
        window.APP_CONFIG &&
        APP_CONFIG.platform
    ) {

        const platformName =
            document.getElementById(
                "platformName"
            );


        const platformTagline =
            document.getElementById(
                "platformTagline"
            );


        if (platformName) {

            platformName.innerText =
                APP_CONFIG
                    .platform
                    .name;

        }


        if (platformTagline) {

            platformTagline.innerText =
                APP_CONFIG
                    .platform
                    .fullName;

        }

    }





    // ======================================
    // Platform Logo
    // ======================================

    if (
        window.APP_CONFIG &&
        APP_CONFIG.branding
    ) {

        const logo =
            document.getElementById(
                "platformLogo"
            );


        if (
            logo &&
            APP_CONFIG
                .branding
                .logo
        ) {

            logo.src =
                "../" +
                APP_CONFIG
                    .branding
                    .logo;

        }

    }





    // ======================================
    // Institution
    // ======================================

    function loadInstitution() {


        if (
            typeof window.getInstitution !==
            "function"
        ) {

            return;

        }


        const institution =
            window.getInstitution();


        const institutionName =
            document.getElementById(
                "institutionName"
            );


        if (
            institutionName &&
            institution
        ) {

            institutionName.innerText =
                institution.name
                ||
                "-";

        }

    }





    // ======================================
    // Current User
    // ======================================

    function loadUser() {


        let user = null;


        if (
            typeof window.getCurrentUser ===
            "function"
        ) {

            user =
                window.getCurrentUser();

        }


        if (!user) {

            return;

        }


        const userName =
            document.getElementById(
                "userName"
            );


        const userRole =
            document.getElementById(
                "userRole"
            );


        if (userName) {

            userName.innerText =
                user.name
                ||
                user.username
                ||
                "User";

        }


        if (userRole) {

            userRole.innerText =
                user.role
                ||
                "User";

        }

    }





    // ======================================
    // Language
    // ======================================

    const languageSelector =
        document.getElementById(
            "languageSelector"
        );


    if (
        languageSelector &&
        typeof window.getCurrentLanguage ===
        "function"
    ) {

        languageSelector.value =
            window.getCurrentLanguage();

    }


    if (languageSelector) {

        languageSelector.addEventListener(
            "change",
            function () {

                if (
                    typeof window.changeLanguage ===
                    "function"
                ) {

                    window.changeLanguage(
                        languageSelector.value
                    );

                }

            }
        );

    }





    // ======================================
    // Logout
    // ======================================

    const logoutBtn =
        document.getElementById(
            "logoutBtn"
        );


    if (logoutBtn) {

        logoutBtn.addEventListener(
            "click",
            function () {

                if (
                    typeof window.logout ===
                    "function"
                ) {

                    window.logout();

                    return;

                }


                localStorage.removeItem(
                    "ERP_SESSION"
                );


                localStorage.removeItem(
                    "currentUser"
                );


                window.location.href =
                    "../index.html";

            }
        );

    }





    // ======================================
    // Initialize
    // ======================================

    loadInstitution();

    loadUser();


})();
</script>
