<!-- =====================================
 Darul Quran Smart ERP
 Common Header
===================================== -->


<header class="erp-header">


<div class="header-left">


<button id="menuToggle">

☰

</button>



<div class="brand">


<img src="../assets/images/logo.png"
class="logo">


<div>

<h3>
Darul Quran Smart ERP
</h3>

<small id="institutionName">
Institution Name
</small>


</div>


</div>


</div>





<div class="header-right">


<select id="languageSelector"
onchange="changeLanguage(this.value)">


<option value="bn">
বাংলা
</option>


<option value="en">
English
</option>


<option value="ar">
العربية
</option>


</select>





<div class="notification">

🔔

</div>





<div class="profile">


Admin 👤


</div>



<button class="logout-btn">

Logout

</button>


</div>



</header>
