<!-- =====================================
 Darul Quran Smart ERP
 Common Sidebar
===================================== -->


<aside id="sidebar">



<div class="sidebar-title">

🕌 ERP MENU

</div>




<a href="../dashboard/dashboard.html">

🏠 Dashboard

</a>



<a href="../students/students.html">

👨‍🎓 Students

</a>



<a href="../admission/admission.html">

📝 Admission

</a>



<a href="../fee/collection.html">

💰 Fee Management

</a>



<a href="../academic/attendance/attendance.html">

📅 Attendance

</a>



<a href="../academic/result/result.html">

📚 Result

</a>



<a href="../teachers/teachers.html">

👨‍🏫 Teacher

</a>



<a href="../finance/finance.html">

💼 Finance

</a>




<a href="../reports/student-report.html">

📊 Reports

</a>




<a href="../settings/settings.html">

⚙ Settings

</a>



</aside>
